.room-item-even {
    background-color: rgb(240, 240, 240);
    border-width: 0;
}

.room-item-odd {
    border-width: 0;
    background-color: rgb(224, 224, 224);
}

.room-item-odd,
.room-item-even {
    height: 180px;
}

.room-item-even:hover,
.room-item-odd:hover {
    border-width: 2px;
    border-color: rgb(50, 50, 50);
}

.mi-checkbox-grande {
}

.unity-toggle {
}
