:root {
}

#bottom-menu {
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    align-items: stretch;
}
.tool-toggle.unity-toggle {
    border-radius: 15px;
    padding: 5px;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    background-color: #E0E0E0;
    width: 200px;
    height: 60%;
}

.tool-back-btn
{
    border-radius: 15px;
    padding: 5px;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    background-color: #E0E0E0;
    width: 200px;
    height: 60%;
}

/* Hover */
.tool-back-btn:hover {
    background-color: #BDBDBD;
}

/* Ocultar el checkbox nativo DE FORMA SEGURA */
.tool-toggle .unity-toggle__input {
    /* display: none;  <-- NO USAR ESTO */
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    position: absolute; /* Para que no ocupe espacio visual en el layout */
}

.autosizelabel {
    display: none;
}

.tool-toggle.unity-toggle:hover .autosizelabel {
    display: flex;
    opacity: 1;
}

/* Hover */
.tool-toggle.unity-toggle:hover {
    background-color: #BDBDBD;
}

.autosizelabel {
    opacity: 0;
    transition: opacity 0.3s;
}

/* Click (active/pressed) */
.tool-toggle.unity-toggle:active {
    background-color: #F2BD66;
}

/* Opcional: cuando está marcado o seleccionado */
.tool-toggle.unity-toggle:checked {
    background-color: #F2BD66;
}

.tool-toggle.unity-toggle:disabled {
    background-color: #F0F0F0;
    border-color: #D0D0D0;
    color: #A0A0A0;
}

.unity-popup-field__text {
    color: rgb(0, 0, 0);
}

.unity-popup-field:hover .unity-popup-field__text,
.unity-popup-field:focus .unity-popup-field__text {
    color: rgb(0, 0, 0);
}