.rounded-button {
    border-color: rgb(200, 200, 200);
    border-width: 1px;
    border-radius: 10px;
    background-color: rgb(242, 189, 102);
}

.rounded-button:hover {
    background-color: rgb(175, 128, 58);
    border-color: rgb(100, 100, 100);
    border-width: 3px;
}

.rounded-button:active {
    background-color: rgb(242, 189, 102);
    border-color: rgb(120, 120, 120);
    border-width: 3px;
}

.rounded-button:disabled {
    background-color: rgb(196, 196, 196);
    border-color: rgb(180, 180, 180);
    opacity: 0.6;
}

.orange-background {
    background-color: rgb(242, 189, 102);
}

.dropdown-field {
    border-color: rgb(189, 189, 189);
    border-width: 1px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.dropdown-field .unity-base-field__input {
    background-color: rgba(255, 255, 255, 0);
    border-width: 0;
}

.unity-base-field {
}


